<div class="container mt-3 mb-3 styled-container">
  <h2 class="text-center mb-2">Zapraszamy do jednego z naszych unikalnych domków modułowych</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Added g-4 for spacing between cards -->
    <div class="col" *ngFor="let house of houses">
      <div class="card h-100"> <!-- Added h-100 for equal height -->
        <div class="image-wrapper">
          <img [src]="house.image" class="card-img-top" alt="House Image"> <!-- Added mx-2 for margin on left and right -->
          <a [routerLink]="['/offer', house.route]" class="btn btn-light details-button">Szczegóły</a>
        </div>
        <div class="card-body">
          <p class="card-text">Cena: {{ house.cena }}</p>
          <p class="card-text">Dostępność: {{ house.dostepnosc }}</p>
          <p class="card-text">Powierzchnia: {{ house.powierzchnia }}</p>
        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center my-4">Zachęcamy do kontaktu w celu zarezerwowania domku.</h4>
  <div class="row">
    <div class="col-md-12 text-center mb-3">
      <p><strong>Adres:</strong> ul. Przykładowa 123, 00-000 Miasto</p>
      <p><strong>Telefon:</strong> +48 123 456 789</p>
      <p><strong>Email:</strong> kontakt@domki.pl</p>
    </div>
  </div>
</div>
