<div class="container mt-3 mb-3 styled-container">
    <h2 class="text-center mb-2">Zapraszamy do jednego z naszych unikalnych domków modułowych</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let house of houses">
        <div class="card">
          <div class="image-wrapper">
            <img [src]="house.image" class="card-img-top" alt="House Image">
            <!-- Update the button to an anchor tag with routerLink directive -->
            <a [routerLink]="house.route" class="btn btn-light details-button">Szczegóły</a>
          </div>
          <div class="card-body">
            <p class="card-text">Cena: {{ house.cena }}</p>
            <p class="card-text">Dostępność: {{ house.dostepnosc }}</p>
            <p class="card-text">Powierzchnia: {{ house.powierzchnia }}</p>
            <p class="card-text">Wykończenie: {{ house.wykonczenie }}</p>
          </div>
        </div>
      </div>
    </div>



  <h4 class="text-center my-4">Zachęcamy do kontaktu w celu zarezerowania domku.</h4>
  <div class="row">
    <div class="col-md-12 text-center mb-3"> <!-- Updated to col-md-12 to make it take the full width -->
      <p><strong>Adres:</strong> ul. Przykładowa 123, 00-000 Miasto</p>
      <p><strong>Telefon:</strong> +48 123 456 789</p>
      <p><strong>Email:</strong> kontakt@domki.pl</p>
    </div>
  </div>
</div>
