<div class="container mt-5 styled-container">
  <h1 class="text-center mb-4">Poznaj Nas</h1>
  <hr>
  <p class="text-center mb-5">
    Zapraszamy do bliższego zapoznania się z naszą firmą i dedykowanym zespołem
    specjalistów, którzy z pasją i zaangażowaniem realizują każdy projekt.
    Poznajcie ludzi, dzięki którym możliwe jest tworzenie domów najwyższej
    jakości, spełniających oczekiwania nawet najbardziej wymagających klientów.
  </p>

  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card shadow-lg mb-3">
        <img src="assets/images/him.jpg" class="card-img-top" alt="Person 1" />
        <div class="card-body">
          <h5 class="card-title">Wacław Kowalski</h5>
          <p class="card-text">
            W naszym zespole mamy zaszczyt mieć wyjątkowego CEO, który z pasją i
            zaangażowaniem prowadzi naszą firmę w produkcji innowacyjnych domów
            modułowych. Jego wizja zrównoważonego budownictwa i dążenie do
            perfekcji sprawiają, że nasze domy są synonimem jakości i komfortu.
            Dzięki jego liderstwu, firma nieustannie rośnie, zdobywając uznanie
            na rynku i zadowolenie klientów.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-lg">
        <img src="assets/images/her.jpg" class="card-img-top" alt="Person 2" />
        <div class="card-body">
          <h5 class="card-title">Marianna Kowalska</h5>
          <p class="card-text">
            Nasza zarządzająca kierownik to kompetentna i zdecydowana kobieta,
            która z niezwykłą precyzją i zaangażowaniem kieruje zespołem
            projektowym. Jej umiejętność budowania relacji i zdolność do
            rozwiązywania problemów sprawiają, że jest nieocenionym liderem i
            mentorem dla całego zespołu. Dzięki jej wizji i determinacji,
            projekty są realizowane z najwyższą starannością i zgodnie z
            oczekiwaniami klientów.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-2">
      <div class="card shadow-lg mb-4 h-100">
        <img src="assets/images/workers1.jpg" class="card-img-top" alt="Group 1" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Budujemy z Pasja</h5>
          <p class="card-text mb-auto">
            Budowanie domów to dla nas nie tylko zawód, ale przede wszystkim
            pasja i misja tworzenia bezpiecznych, funkcjonalnych i pięknych
            przestrzeni do życia. Każdy projekt realizujemy z zaangażowaniem i
            dbałością o detale, aby dostarczyć naszym klientom domy, które będą
            dla nich prawdziwym azylem i źródłem codziennej radości.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="card shadow-lg mb-4 h-100">
        <img src="assets/images/workers2.jpg" class="card-img-top" alt="Group 2" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Ekipa Profesjnalistów</h5>
          <p class="card-text mb-auto">
            Nasza ekipa pracowników to zgrany zespół profesjonalistów, którzy
            dzięki swoim umiejętnościom i doświadczeniu gwarantują najwyższą
            jakość wykonania każdego zlecenia. Dbamy o ciągły rozwój i szkolenia
            naszych pracowników, aby byli oni zawsze na bieżąco z najnowszymi
            technologiami i standardami budowlanymi.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="card shadow-lg mb-4 h-100">
        <img src="assets/images/workers3.jpg" class="card-img-top" alt="Group 3" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Pełne Zaangażowanie</h5>
          <p class="card-text mb-auto">
            Cały nasz zespół jest głęboko zaangażowany w realizację projektów,
            co przekłada się na precyzję wykonania i zadowolenie naszych
            klientów. Wspólna pasja i zaangażowanie każdego członka zespołu
            sprawiają, że podejmujemy się nawet najbardziej wymagających zadań i
            dążymy do perfekcji w każdym detalu.
          </p>
        </div>
      </div>
    </div>
  </div>
  
