<div class="container mt-2 styled-container">
  <!-- ROW 1 -->
  <div class="row mt-4">
    <div class="col-md-6">
      <h2 class="text-dark fw-bolder"><i class="bi bi-1-square-fill" style="font-size: 23px; padding: 5px; color:rgba(41, 64, 55, 0.599)"></i>KIM JESTEŚMY?</h2>
      <p i18n class="first-line">
        Nasza firma to pionier w dziedzinie budowy modułowych domów drewnianych,
        które łączą nowoczesny design z naturalnym pięknem drewna. Nasze domy są
        nie tylko wyjątkowo estetyczne, ale także ekologiczne, dzięki
        zrównoważonemu pozyskiwaniu materiałów. Dzięki innowacyjnemu podejściu
        do konstrukcji modułowej, oferujemy naszym klientom szybki i efektywny
        proces budowy, co pozwala na oszczędność czasu i pieniędzy. Nasze
        modułowe domy drewniane to połączenie harmonii z naturą i nowoczesnej
        technologii. Wybierając naszą firmę, inwestujesz nie tylko w piękny dom,
        ale również w przyszłość.
      </p>
      <button i18n class="btn btn-outline-dark btn-lg mb-3" routerLink="/about-us">POZNAJMY SIĘ
        <i class="bi bi-person px-1"></i>
      </button>
    </div>
    <div class="col-md-6">
      <img src="assets\images\1.jpg" alt="Image 1" class="img-fluid img-zoom img-full-width classy-border mx-auto d-block"/>
    </div>
  </div>
  <hr class="separator-line">
  <!-- ROW 2 -->
  <div class="row mt-3">
    <div class="col-md-6 order-md-2">
      <h2 class="text-dark fw-bolder">
        <i class="bi bi-2-square-fill" style="font-size: 23px; padding: 5px; color:rgba(41, 64, 55, 0.599)">
        </i>CZYM SIĘ ZAJMUJEMY</h2>
      <p i18n class="first-line">
        Jeśli marzysz o własnym wymarzonym domu, to firma Ammer House jest
        idealnym partnerem, który pomoże Ci zrealizować to marzenie. Nasza firma
        jest znana z doskonałej jakości budowy, innowacyjnych rozwiązań oraz
        zrozumienia indywidualnych potrzeb każdego klienta. Dzięki naszemu
        doświadczeniu i zaangażowaniu w każdy projekt, możemy stworzyć dla
        Ciebie miejsce, które będzie nie tylko piękne, ale także funkcjonalne i
        energooszczędne. Zapraszamy do współpracy z Ammer House i zachęcamy do
        sprawdzenia naszej oferty, która spełni Twoje oczekiwania i przekształci
        Twoje marzenia w rzeczywistość!
      </p>
      <button i18n class="btn btn-outline-dark btn-lg mb-3" routerLink="/offer">ZOBACZ NASZĄ OFERTĘ
        <i class="bi bi-layout-text-sidebar-reverse px-1"></i>
      </button>
    </div>
    <div class="col-md-6 order-md-1">
      <img src="assets\images\2.jpg" alt="Image 2" class="img-fluid img-zoom img-full-width classy-border mx-auto d-block"/>
    </div>
  </div>
  <hr class="separator-line">
  <!-- ROW 3 -->
  <div class="row mt-3">
    <div class="col-md-6">
      <h2 i18n class="text-dark fw-bolder">
        <i class="bi bi-3-square-fill" style="font-size: 23px; padding: 5px; color:rgba(41, 64, 55, 0.599)">
      </i>SKONTAKTUJ SIĘ Z NAMI</h2>
      <p i18n class="first-line">
        Czemu warto się z nami skontaktować już dziś? Po
        pierwsze, nasza firma ma bogate doświadczenie i solidną reputację w
        branży, co oznacza, że możesz mieć pewność, że Twój projekt zostanie
        zrealizowany profesjonalnie. Po drugie, oferujemy konkurencyjne ceny i
        elastyczne rozwiązania, które dostosujemy do Twoich indywidualnych
        potrzeb i budżetu. Po trzecie, nasza ekipa ekspertów jest gotowa
        odpowiedzieć na Twoje pytania i pomóc Ci w każdym etapie procesu budowy.
        Ostatecznie, naszym celem jest zapewnić Ci nie tylko wyjątkowy dom, ale także satysfakcję i spokój podczas całego procesu
        budowy. Skontaktuj się z nami już teraz, aby rozpocząć pracę nad Twoim
        wymarzonym domem!
      </p>
      <button i18n class="btn btn-outline-dark btn-lg mb-3" routerLink="/contact">
        <i class="bi bi-telephone px-1"></i>
        ZAPRASZAMY DO KONTAKTU
      </button>
    </div>
    <div class="col-md-6">
      <img src="assets\images\3.jpg" alt="Image 3" class="img-fluid img-zoom img-full-width classy-border mx-auto d-block"/>
    </div>
  </div>
  <hr class="separator-line">
</div>
