<footer class="custom-footer-bg text-white py-3 custom-footer-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="small mb-0">Ammer House &copy; 2023</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="/privacy-policy" class="text-white me-md-3">Polityka Prywatności</a>
                <a href="/contact" class="text-white me-md-3 px-3">Kontakt</a>
                <a href="https://www.instagram.com/your-instagram-url" target="_blank" class="text-white me-md-3 px-4">
                    <i class="bi bi-instagram fs-4"></i>
                </a>
                <a href="https://www.facebook.com/your-facebook-url" target="_blank" class="text-white">
                    <i class="bi bi-facebook fs-4"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
